.settings{
    position: absolute;
    left: 1rem;
    font-size: 2.5ch;
    color: var(--text-h);
    cursor: pointer;
    padding: 2vh;
}
.heading{
    font-family: var(--heading);
    font-weight: 500;
    color: var(--text-h);
    font-size: 5ch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 2vh;
}

